* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
}
button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
}
button:active {
    background-color: hsl(210, 100%, 70%);
}

#diceResult {
    margin: 20px 0;
}
#diceImages img {
    width: 50px;
    margin: 5px;
}